
body,html{
    margin: 0;
    padding: 0;
}
.conteainer{
   display: flex!important;
   .nav-left{
    width: 20%;
    min-width: 180px;
    height: calc(100vh);
    background-color: #001529;
   }
   .main {
       flex: 1;
       height: calc(100vh);
       .header{
        //    background-color: skyblue;
           height: 100px;
       }
       .content{
        position: relative;
        
        // background-color: orange;
        height: calc(100% - 150px);

    }
    .footer{
        height: 50px;
        // background-color: red;
    }
   }
  
}